.competition {
	background-image: url(../../images/Pages/competition/Competition.webp);
	min-height: 680px;
	height: 100vh;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.competition__title {
	font-size: 120px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.competition__title > .competition__text-2 {
	color: var(--dark-color);
}
.competition__title-2 {
	position: relative;
	font-size: 100px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

.box-img {
	position: absolute;
	top: 170px;
	right: 50px;
	z-index: 9;
}
.competition__img {
	/* width: 800px; */
	height: 420px;
}

.competition__box-text {
	margin-top: 30px;
	width: 300px;
	min-height: 400px;
}
.competition__box-text h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}
p {
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.competition-2 {
	position: relative;
	padding-top: 60px;
	background-image: url(../../images/svg/pattern_1.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left 100px top;
	min-height: 710px;
	z-index: 1;
}
.competition__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.competition__title-3 {
	position: absolute;
	top: 60px;
	left: 110px;
	width: 850px;
	font-size: 120px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	z-index: 10;
}
.competition__text-32 {
	align-self: flex-end;
}

.competition__btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background: url(../../images/svg/play.svg) no-repeat center;
	z-index: 11;
}
.competition__btn-play:hover {
	cursor: pointer;
}

.competition-4 {
	position: relative;
	background-image: url(../../images/svg/pattern_2.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left 100px top;
	min-height: 660px;
	height: 100vh;
	z-index: 1;
}
.competition__title-4 {
	position: absolute;
	top: 60px;
	left: 110px;
	width: 850px;
	font-size: 120px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

.box-img4 {
	position: absolute;
	top: 100px;
	left: 300px;
	width: 700px;
	height: 420px;
	z-index: 9;
	/* transition: all 0.5s linear; */
}
.box-text-4 {
	width: 290px;
}
.box-text-4 h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}
.box-text-4 p {
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.history-box {
	padding: 10px;
	font-size: 14px;
	margin-top: 20px;
}
.data {
	font-weight: 700;
	font-size: 18px;
}
.spoller {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	min-height: 50px;
}
.sector {
	margin-bottom: 20px;
	padding: 15px;
	background-color: var(--dark-color);
	border: 1px solid var(--main-color);
	transition: var(--transition);
}
.icon {
	width: 48px;
	height: 48px;
	background: url(../../images/svg/add.svg) no-repeat center/cover;
	transition: var(--transition);
	color: var(--main-bg);
	fill: var(--main-bg);
}
.tabs {
	padding: 0 10px;
	overflow: hidden;
	max-height: 0;
	height: auto;
	transition: var(--transition);
}
.tabs.tabs-active {
	max-height: 900px;
}
.List > li {
	list-style: inside;
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.competition__box-about {
	display: flex;
	justify-content: space-around;
}
.competition__colum {
	width: 32%;
}

.competition__colum-box-title {
	height: 121px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.competition__colum-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}
.competition__colum-title-h5 {
	cursor: pointer;
	text-decoration: underline;
	font-size: 14px;
	font-family: "Raleway", Arial, sans-serif;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}
.competition__detailed {
	cursor: pointer;
	text-decoration: underline;
}
.competition__colum-text {
	overflow: hidden;
	max-height: 0;
	height: auto;
	transition: var(--transition);
}
.competition__colum-text-show {
	max-height: 900px;
}
