.navWrapper {
	position: fixed;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 140px 10px 40px;
	background: var(--main-bg);
	transition: top 1s ease-in-out;
	z-index: 50;
}
.navWrapper-opened {
	top: 0;
	transition: top 1s ease-in-out;
}

.navWrapper nav {
	width: 300px;
}
.navWrapper ul {
	width: 100%;
	position: relative;
	background-color: transparent;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.navWrapper li {
	width: 100%;
	font-size: 32px;
	line-height: 1.5;
	letter-spacing: -0.15px;
	transition: var(--transition);
}
.navWrapper li a {
	width: 100%;
	display: flex;
	justify-content: center;
}
.navWrapper .nav__item:not(:last-child) {
	margin-right: 0;
}
@media screen and (min-width: 425px) {
	.navWrapper {
		padding: 144px 16px 42px;
	}
	.navWrapper nav {
		width: 320px;
	}
}
