.card {
	position: relative;
	width: auto;
	width: 600px;
	height: 350px;
	margin: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 20px;
	background: var(--linear-gradient);
}

.card img {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 350px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.card:hover img {
	left: 80%;
	height: 400px;
}

.card .content {
	position: relative;
	width: 60%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition);
}

.card .content h2 {
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	color: var(--main-color);
	text-transform: uppercase;
	font-size: 2.8em;
	line-height: 1.5em;
	transition: var(--transition);
}

.card .content p {
	font-family: "Raleway", Arial, sans-serif;
	color: var(--main-color);
	font-size: 1.2em;
	line-height: 1.5em;
	transition: var(--transition);
}

.readMore {
	position: relative;
	display: inline-block;
	color: var(--dark-color);
	font-weight: 700;
	padding: 10px 20px;
	border-radius: 10px;
	background: var(--light-bg);
	margin: 10px 0 0;
	text-decoration: none;
	transition: var(--transition);
}

.card:hover .content {
	left: 0%;
	opacity: 1;
	visibility: visible;
}

.hidden {
	display: none;
}
@media (max-width: 991px) {
	.card {
		position: relative;
		width: auto;
		max-width: 600px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.card:hover {
		height: 600px;
	}
	.card:hover img {
		left: 50%;
		height: 350px;
	}
	.card .content {
		width: 100%;
		left: 0;
		padding: 40px;
	}
}

@media (max-width: 420px) {
	.card {
		position: relative;
		width: auto;
		max-width: 240px;
		margin: 5px;
	}
	.card img {
		height: 300px;
	}
	.card:hover img {
		height: 275px;
	}
	.card:hover {
		height: 650px;
	}
	.card .content {
		padding: 10px;
	}
	.readMore {
		display: block;
		margin: 10px auto;
	}
}
