.HistoryPage {
	position: relative;
	background-color: var(--light-bg);
	min-height: 100vh;
}
.HistoryPage__section-1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: center / cover no-repeat url(../../images/Pages/Nav_-_Brand_Story.webp);
	background-attachment: fixed;
}
.HistoryPage__title,
.HistoryPage__title2 {
	font-size: 120px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	color: var(--dark-color);
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}
.HistoryPage__title2 {
	position: relative;
	align-items: flex-start;
	padding-top: 100px;
	font-size: 100px;
	z-index: 10;
}
.HistoryPage__title2 span {
	margin-bottom: 30px;
}

.HistoryPage__section-2 {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background: 150px no-repeat url(../../images/svg/1Union.svg);
}
.HistoryPage__box-img {
	position: absolute;
	top: 130px;
	left: 200px;
	width: 518px;
	height: 467px;
	z-index: 9;
}

.HistoryPage__img {
	width: 518px;
	height: 467px;
}
.HistoryPage__box-img2 {
	position: absolute;
	top: 150px;
	right: 50px;
	z-index: 11;
}
.HistoryPage__btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background: url(../../images/svg/play.svg) no-repeat center;
	z-index: 12;
}
.HistoryPage__box-text {
	position: absolute;
	bottom: 30px;
	right: 150px;
	width: 300px;
	color: var(--dark-color);
	font-family: "Raleway", Arial, sans-serif;
}
.HistoryPage__box-text h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.HistoryPage__box-text p {
	font-size: 14px;
	font-family: Arial, sans-serif;
	font-weight: 400;
}
