.TeachersPage {
	position: relative;
	background-color: var(--another-bg);
	min-height: 100vh;
}
.TeachersPage__section-1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin-top: 0;
	background: center / cover no-repeat url(../../images/Pages/2Main_Image.webp);
}
.TeachersPage__title {
	font-size: 56px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	color: var(--dark-color);
	width: 290px;
}
.TeachersPage__title-text2 {
	align-self: flex-end;
}
.TeachersPage__section-2 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	min-height: 100vh;
	width: 100%;
	background: 150px no-repeat url(../../images/svg/pattern_1.svg);
}
.TeachersPage__title2 {
	color: var(--main-color);
	margin-top: 100px;
}
.TeachersPage__btn-left,
.TeachersPage__btn-right {
	width: 30px;
	height: 36px;
}

.TeachersPage__btn-left {
	transform: rotate(90deg);
	background: center/cover no-repeat url(../../images/svg/btn-down.svg);
}
.TeachersPage__btn-right {
	transform: rotate(-90deg);
	background: center/cover no-repeat url(../../images/svg/btn-down.svg);
}
.TeachersPage__box-card {
	display: flex;
	align-items: center;
	margin: 0 auto 50px;
}
@media screen and (min-width: 768px) {
	.TeachersPage__title {
		font-size: 120px;
		width: 950px;
	}
	.TeachersPage__section-1 {
		margin-top: 83px;
	}
	.TeachersPage__section-2 {
		flex-direction: row;
	}
	.TeachersPage__box-card {
		position: absolute;
		right: 100px;
		bottom: 100px;
		margin-bottom: 0;
	}
	.TeachersPage__btn-left,
	.TeachersPage__btn-right {
		width: 45px;
		height: 54px;
	}
}
