.TeachersPage {
	position: relative;
	background-color: var(--another-bg);
	min-height: 100vh;
}
.TeachersPage__section-1 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin-top: 83px;
	background: center / cover no-repeat url(../../images/Pages/2Main_Image.webp);
}
.TeachersPage__title {
	font-size: 48px;
	font-family: "Oswald", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	width: 900px;
}
.TeachersPage__title-text2 {
	align-self: flex-end;
}
.TeachersPage__section-2 {
	position: relative;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	min-height: 100vh;
	width: 100%;
	background: 150px no-repeat url(../../images/svg/pattern_1.svg);
}
.TeachersPage__title2 {
	margin-top: 100px;
}
.TeachersPage__btn-left {
	width: 45px;
	height: 54px;
	transform: rotate(90deg);
	background: center no-repeat url(../../images/svg/btn-down.svg);
}
.TeachersPage__btn-right {
	width: 45px;
	height: 54px;
	transform: rotate(-90deg);
	background: center no-repeat url(../../images/svg/btn-down.svg);
}
.TeachersPage__box-card {
	position: absolute;
	right: 100px;
	bottom: 100px;
	display: flex;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.TeachersPage__title {
		font-size: 120px;
	}
}
