.footer {
	height: 90px;
	background-color: transparent;
}
.footer__container {
	display: flex;
	align-items: center;
	height: 100%;
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 500;
}
.TeachersPage ~ .footer {
	background-color: var(--another-bg);
}
