*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html {
	box-sizing: border-box;
	width: 100vw;
	overflow-x: hidden;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	border: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

body {
	margin: 0;
	font-family: "Raleway", "Oswald", Arial, sans-serif;
	font-size: 12px;
	color: var(--main-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: radial-gradient(ellipse at top, #63a7a3, transparent),
		radial-gradient(ellipse at bottom, #063f3b, #074d49);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
	--main-bg: #3d8685;
	--another-bg: #4a918e;
	--light-bg: #cceaed;

	--main-color: #cceaed;
	--dark-color: #4a918e;
	--transition: all 0.5s linear;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--dark-color);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
